#main{ 
    background-color: #0000ffd1;
    padding:70px;
  }
  .imgstyle{
    width: 120%;
    height: 100%;

  }
  #col2{
      margin-top: 20%;
     margin-left: 0px;

  }
  #footerstyle{
      margin-top: 50px;
  }